/* main site css. any differences between pages will be in the pages' internal style tags. */

      * {
		margin: 0;
		padding: 0;
		font-family: neuzeit-grotesk, sans-serif;
	}
	body{
		width: 960px;
		margin: auto;
		margin-top: 0;
		background-color: gray;
		font-weight: 400;
	}
	 #headernav {
            text-align: center;
            padding-top: 16px;
            padding-bottom: 32px;
        }
        #headernav h1{
            font-weight: 900;
            margin-bottom: 16px;
        }
        #nav {
            list-style-type: none;
        } 
        #nav li { 
            display: inline;
            padding-left: 16px;
            padding-right: 16px;
        }
        a, a:active, a:hover, a:focus, a:visited { 
            text-decoration: none;
            color: white;
        }
        #headernav a:hover { 
            color: orange;
            
        }
	.linkwrap{
		width: 240px;
		height: 240px;
		float: left;
		text-align: center;
	}
	.imglinkdiv{
		width: 230px;
		height: 230px;
		margin: auto;
		margin-top: -230px;
		border: 0px;
		border-radius: 50px;
		display: block;
		overflow: hidden;
	}
	.linkwrap h5{
	    margin-top: -126px;
	    font-weight: 700;
	}
	.imgfadebg{
		width: 230px;
		height: 230px;
		margin: auto;
		border: 0px;
		border-radius: 50px;
		background-color: white;
	}
